@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

h2,
h3,
h4,
h5,
h6 {
  scroll-margin-top: 6rem;
}

:root {
  --theme-toggle-x: 50vw;
  --theme-toggle-y: 50vh;
  --theme-toggle-radius: 0px;
  --theme-mask-size: 0px;
}

@property --theme-mask-size {
  syntax: "<length>";
  inherits: false;
  initial-value: 0px;
}

::view-transition-old(root),
::view-transition-new(root) {
  will-change: --theme-mask-size;
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-new(root) {
  z-index: 1;
  animation: theme-expand 1s cubic-bezier(0.4, 0.7, 0.5, 1) both;
  mask-image: radial-gradient(
    circle var(--theme-mask-size) at var(--theme-toggle-x) var(--theme-toggle-y),
    black 0%,
    black 60%,
    transparent 100%
  );
}

::view-transition-old(root) {
  z-index: -1;
  animation: theme-contract 1s cubic-bezier(0.4, 0, 0.2, 1) both;
}

/* -------- キーフレーム -------- */
@keyframes theme-expand {
  0% {
    --theme-mask-size: 0px;
  }

  100% {
    --theme-mask-size: calc(var(--theme-toggle-radius) * 1.75);
  }
}

@keyframes theme-contract {
  0% {
    --theme-mask-size: calc(var(--theme-toggle-radius) * 1.75);
  }

  100% {
    --theme-mask-size: 0px;
  }
}
