@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  letter-spacing: 0.01em;
  line-height: 1.6;
}

.js-toc {
  font-size: 0.95em;
}

.js-toc li {
  list-style-type: none;
  margin-bottom: 4px;
  padding-left: 16px;
  position: relative;
}

.js-toc a {
  text-decoration: none;
  transition: color 0.3s ease;
  opacity: 0.5;
}

.js-toc a:hover {
  opacity: 1;
}

.js-toc a.is-active-link {
  font-weight: bold;
  opacity: 1;
}
